/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:before, &:after {
        box-sizing: border-box;
    }
}

:root {
    --width: 1280px;
}

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Roboto', Helvetica Neue, sans-serif;
    background: url('./assets/foodbg.jpg') no-repeat;
    background-size: cover;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
}

fieldset {
    border: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 2;
}
